body{
margin:0;
font-family:Arial;
background:#203030;
color:white;
}

#container{
display:flex;
height:100vh;
}

#leftPanel{
width:200px;
background:#2b4444;
padding:10px;
}

#rightPanel{
width:220px;
background:#2b4444;
padding:10px;
}

#gameArea{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#2f6f6f;
}

canvas{
border:3px solid black;
}

button{
width:100%;
margin:5px 0;
padding:8px;
background:#3f7f7f;
border:none;
color:white;
cursor:pointer;
}

button:hover{
background:#4f9f9f;
}
