body{
background:#1b1b1b;
color:white;
font-family:Arial;
text-align:center;
}

#stats{
margin:10px;
}

#shop button{
margin:4px;
padding:8px;
}

canvas{
background:#2f3b2f;
border:3px solid #444;
}
