body{
margin:0;
background:#2c4f4f;
font-family:Arial;
}

canvas{
background:#4fa96c;
}

#ui{
position:absolute;
right:0;
top:0;
width:240px;
height:100%;
background:#1e2e2e;
color:white;
padding:10px;
}

#towerBar{
display:grid;
grid-template-columns:repeat(2,90px);
gap:10px;
}

.towerBtn{
background:#333;
padding:8px;
cursor:pointer;
}

.towerBtn img{
width:70px;
height:70px;
}

#towerTooltip{
margin-top:10px;
background:#111;
padding:8px;
}
